#loader {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(1, 58, 18);
  color: rgb(195, 245, 195);
}
#small-navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(53, 112, 71);
  color: rgb(195, 245, 195);
  padding: 1rem;
}
.link {
  color: white;
  text-decoration: none;
}
